
.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
    display: flex;
    
}
.nav__link {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px 0px;
    display: flex;
    justify-content:  center;
    color: #2e363e;
}